name: checks
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  gofmt:
    name: go fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5.0.1
        with:
          go-version: "1.18"
      - uses: Jerome1337/gofmt-action@v1.0.5

  govet:
    name: go vet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5.0.1
        with:
          go-version: "1.18"
      - run: |
          go vet ./...

  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5.0.1
        with:
          go-version: "1.18"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          only-new-issues: true
          args: --enable gci,bodyclose,forcetypeassert,misspell --timeout=5m

  gotest:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-go@v5.0.1
        with:
          go-version: "1.18"
      - run: |
          go test ./...
